* {
    font-family:  'Courier New', Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 25px;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding-bottom: 25px;
    text-align: center;
}

button, fieldset {
    padding: 5px;
}

.container {
    margin: auto;
    width: 50%;
    border: solid 1px rgb(0, 0, 0);
    width: 760px;
    height: 760px;
    display: flex;
    /* flex-direction: column; */
    
}

.row {
    display: flex;
    flex-direction: column;
    flex: 1;
    /* border: solid 1px rgb(255, 0, 0); */
}

.grid-box {
    flex: 1;
    border: solid 1px rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}